/* TODO: inserite il CSS necessario per completare il MHW! */
.choice-grid{

    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    

}

.choice-grid div{
    
    width: calc(32.5% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f4f4f4;
    border: solid 1px #dcdcdc;   
}

.choice-grid div img{
    width: 100%;
}

@media (max-width: 700px){

    article{
        width: 95%;
        margin: auto;
    }

    header div{
        display: none;

    }


}

@media (max-width: 500px){

    .choice-grid div{
        width: calc(49% - 20px);
    }

}

.question-name{
    background-size: cover;
}

.sel{
    background-color: #cfe3ff !important;
}
.no_sel{
    opacity: 0.6;
}
.azione{
    width: 100%;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.azione h1{
    margin-bottom: 18px;
}
.azione p{
    margin-bottom: 18px;
}
.azione a{
    color: black;
    display: block;
    text-align: center;
    align-items: center;
    height: 50px;
    line-height: 50px; 
    width: 100%;
    background-color: #cecece;
    text-decoration: none;
}
.azione a:hover{
    background-color: #e0e0e0;
}